@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #F9FAFB;
  color: #111827;
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}